## ETF Compete:  
## Feature engineering: 
## VR,  (Volume Ratio, 容量指標) 
## OBV (On Balance Volume 能量潮)

http://blog.cnyes.com/my/victor888victor/article163587

## n 天內漲跌關於 量 的相對指標
### Date: 18426_L

# 使用變數


$$$$
# vol_up = (n days 上漲的量總和) + 1/2 * (ndays 的量總和)
# vol_dn = (n days 下跌的量總和) + 1/2 * (ndays 的量總和)
# VR =   vol_up/vol_dn*1.0

# note: VR 可能大於100% ，一般介於0.7 ~ 3.5 之間
# 計算完 VR , 使用 min_max 做normalize

$$$$

# OBV_new = OBV_old $\pm$ Today's Volume (+, if today's price up, will use .cumsu() ) 

# Using min_max to do normalization

# OBV_MA12 =  OBV moving average 12
# OBV_diff =  OBV - OBV_MA12 (計算 OBV vs OBV 移動平均差異)

### 參數: 
### df: dataframe 
### n: n days window (normally, 24, using 12 here  )


###  return df 
### feature columns = ['VR', 'OBV', 'OBV_MA12', 'OBV_diff_MA12']

In [1]:
import numpy as np
import pandas as pd
from collections import OrderedDict
from time import time
from sklearn.preprocessing import MinMaxScaler

In [2]:
# read in csv, change column names
etf = pd.read_csv('/Users/LarryGuo/Desktop/nano_degree/Capstone_Talk/ETF_compete/twetf_utf8/tetfp.csv')
col_dtypes = OrderedDict(code=str, date=str, name=str, open=float, high=float, low=float, close=float, volume=int)

etf.columns=col_dtypes.keys()

etf.head()

   code      date    name   open   high    low  close  volume
0    50  20130102  元大台灣50  54.00  54.65  53.90  54.40   16487
1    50  20130103  元大台灣50  54.90  55.05  54.65  54.85   29020
2    50  20130104  元大台灣50  54.85  54.85  54.40  54.50    9837
3    50  20130107  元大台灣50  54.55  54.55  53.90  54.25    8910
4    50  20130108  元大台灣50  54.00  54.20  53.65  53.90   12507

In [3]:

etf= etf[:1286] # select 台灣50 
etf.tail()

      code      date    name   open   high    low  close  volume
1281    50  20180327  元大台灣50  83.00  83.40  82.95  83.40    3277
1282    50  20180328  元大台灣50  82.90  82.90  82.20  82.25    4161
1283    50  20180329  元大台灣50  82.25  82.35  81.80  82.10    4099
1284    50  20180330  元大台灣50  82.65  83.05  82.65  82.85    4994
1285    50  20180331  元大台灣50  82.85  83.05  82.75  82.95     878

In [4]:
etf.columns

Index(['code', 'date', 'name', 'open', 'high', 'low', 'close', 'volume'], dtype='object')

In [5]:




def VR_OBV(price,volume,n=12):
    
    """Calculate the Volume (vs price diff) Ratio
    TODO:
        1. check input object types (should be pd.Series)
    

    Params:
        price: type: pd.Series, close price
        volume: daily transaction volume
 
        n: day period for calculation, type: int

    Return: feature: ['VR', 'OBV', 'OBV_MA12', 'OBV_diff_MA12']
    """

        
    diff = price.diff().fillna(0)
    diff.name = 'diff'
    
    diff_positive = diff >=0
    upward = (diff_positive * volume ) + 0.5 * volume
    total_up_vol =  upward.rolling(window=n).sum()
    
    
    diff_negative = diff <0 
    downward = (diff_negative * volume ) + 0.5 * volume
    total_dn_vol =  downward.rolling(window=n).sum()
    
    VR = (total_up_vol/total_dn_vol).replace([np.inf, -np.inf], np.nan).fillna(1.0)
    

    min_max_VR = MinMaxScaler()
    VR = min_max_VR.fit_transform(VR.values.reshape(-1,1))   # normalize
    VR  = pd.Series(np.squeeze(VR), name='VR')

    
    # calculate OBV
    
    diff_signal = np.where (diff >= 0,1,-1)
    OBV = diff_signal * volume 
    OBV = OBV.cumsum()
        
    min_max_OBV = MinMaxScaler()
    OBV = min_max_OBV.fit_transform(OBV.values.reshape(-1,1))
    OBV = pd.Series(np.squeeze(OBV), name='OBV')
    
 
    
    OBV_MA12 = OBV.rolling (window=n).mean().fillna(OBV[0])
    OBV_diff_MA12 = OBV - OBV_MA12
    
    OBV_MA12.name = 'OBV_MA12'
    OBV_diff_MA12.name = 'OBV_diff_MA12'
    

    
    return pd.concat([VR,OBV,OBV_MA12,OBV_diff_MA12], axis=1)

In [6]:
df= VR_OBV(etf['close'], etf['volume'])

/Users/LarryGuo/miniconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [7]:
df.columns

Index(['VR', 'OBV', 'OBV_MA12', 'OBV_diff_MA12'], dtype='object')

In [8]:
df

            VR       OBV  OBV_MA12  OBV_diff_MA12
0     0.209005  0.015977  0.015977       0.000000
1     0.209005  0.033894  0.015977       0.017917
2     0.209005  0.027821  0.015977       0.011844
3     0.209005  0.022319  0.015977       0.006343
4     0.209005  0.014597  0.015977      -0.001379
5     0.209005  0.019246  0.015977       0.003269
6     0.209005  0.027861  0.015977       0.011884
7     0.209005  0.020552  0.015977       0.004576
8     0.209005  0.025048  0.015977       0.009072
9     0.209005  0.020968  0.015977       0.004991
10    0.209005  0.015941  0.015977      -0.000036
11    0.227056  0.009715  0.021162      -0.011447
12    0.194985  0.013055  0.020918      -0.007863
13    0.088633  0.010261  0.018949      -0.008687
14    0.147979  0.016745  0.018026      -0.001281
15    0.152370  0.012259  0.017187      -0.004929
16    0.155622  0.005261  0.016409      -0.011148
17    0.107159  0.000000  0.014806      -0.014806
18    0.087388  0.005376  0.012932      -0.007555
19    0.199771  0.018943  0.012798       0.006145
20    0.248214  0.032323  0.013404       0.018919
21    0.315496  0.040129  0.015001       0.025129
22    0.402982  0.049426  0.017791       0.031635
23    0.548736  0.068553  0.022694       0.045859
24    0.430059  0.058682  0.026497       0.032185
25    0.513384  0.076855  0.032046       0.044809
26    0.544638  0.095216  0.038585       0.056631
27    0.614987  0.105599  0.046364       0.059235
28    0.725369  0.119067  0.055847       0.063220
29    0.713695  0.112923  0.065258       0.047666
...        ...       ...       ...            ...
1256  0.070509  0.964704  0.987654      -0.022950
1257  0.083018  0.969917  0.985547      -0.015630
1258  0.096623  0.977107  0.983639      -0.006532
1259  0.101461  0.974792  0.981870      -0.007078
1260  0.125126  0.977126  0.980551      -0.003426
1261  0.121631  0.979156  0.979183      -0.000026
1262  0.096285  0.974425  0.977270      -0.002845
1263  0.094124  0.971743  0.975292      -0.003549
1264  0.095508  0.967877  0.973356      -0.005479
1265  0.168152  0.965578  0.972886      -0.007308
1266  0.146671  0.969117  0.972188      -0.003071
1267  0.153541  0.967500  0.971587      -0.004087
1268  0.259656  0.969496  0.971986      -0.002491
1269  0.223718  0.971244  0.972097      -0.000853
1270  0.203783  0.976648  0.972058       0.004589
1271  0.300283  0.982721  0.972719       0.010002
1272  0.246946  0.980613  0.973010       0.007603
1273  0.201746  0.978448  0.972951       0.005497
1274  0.215719  0.975046  0.973003       0.002044
1275  0.232502  0.973790  0.973173       0.000617
1276  0.261082  0.972002  0.973517      -0.001515
1277  0.336075  0.975022  0.974304       0.000718
1278  0.257644  0.972905  0.974620      -0.001715
1279  0.212361  0.967806  0.974645      -0.006839
1280  0.219961  0.970503  0.974729      -0.004226
1281  0.222896  0.972526  0.974836      -0.002309
1282  0.138752  0.969957  0.974278      -0.004321
1283  0.051574  0.967427  0.973004      -0.005577
1284  0.100435  0.970510  0.972162      -0.001652
1285  0.122530  0.971052  0.971546      -0.000493

[1286 rows x 4 columns]